<!-- templates/signup.html -->


{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add item</h3>
    <div class="box">
        <form method="POST" action="/additem">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="data" name="time" placeholder="Time" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="data" name="route" placeholder="Route" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="data" name="stop" placeholder="Bus stop" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Add</button>
        </form>
    </div>
</div>
{% endblock %}
